/* Default styles */
.body {
    font-family: 'Poppins', 'Arial', sans-serif;
}

footer {
    background-color: rgb(3, 46, 19);
    background-size: cover; /* Ensures the image covers the entire footer */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em 5%;
    width: 100%;
}

.col-left,
.col-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
}

.col-box {
    display: flex;
    align-items: center;
    gap: 1em;
    color: #ffffff;
    justify-content: center;
}

.col-box i {
    font-size: 2em;
}

.col-box span {
    font-size: 1em;
}

.col-right {
    color: #ffffff;
    max-width: 500px;
}

.col-right span {
    font-size: 1.3em;
}

.col-right .social-icons {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.col-right .social-icons i {
    font-size: 2em;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    color: #ffffff;
}

.social-icons i:hover {
    color: #6dc293;
}

.footer-bottom {
    background-color: rgb(6, 97, 41);
    text-align: center;
    padding: 1em;
    color: white;
    font-size: 1em;
    width: 100%;
}

/* Responsive styles */
@media (min-width: 768px) {
    footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 3em 10%;
    }

    .col-left,
    .col-right {
        width: auto;
        flex-direction: column;
        text-align: left;
    }

    .col-left {
        flex: 1;
    }

    .col-right {
        flex: 2;
    }

    .col-right .social-icons {
        justify-content: flex-start;
    }
}

@media (max-width: 768px) {
    .col-box span {
        font-size: 0.9em;
    }

    .col-right span {
        font-size: 1em;
    }

    .col-right .social-icons i {
        font-size: 1.8em;
    }

    .footer-bottom {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    footer {
        padding: 2em;
    }

    .col-box {
        gap: 0.5em;
    }

    .col-box i {
        font-size: 1.8em;
    }

    .col-box span {
        font-size: 0.8em;
    }

    .col-right .social-icons {
        gap: 0.5em;
    }

    .col-right .social-icons i {
        font-size: 1.5em;
    }

    .footer-bottom {
        font-size: 0.8em;
        padding: 0.8em;
    }
}
